@model Hockeyshop.Data.Data.Orders.Invoice

@if (ViewData["FormAction"]?.ToString() == "Edit")
{
    <input type="hidden" asp-for="IdInvoice" />
}

<div class="form-group">
    <label asp-for="IdOrder" class="control-label"></label>
    <select asp-for="IdOrder" class="form-control" asp-items="ViewBag.IdOrder">
        <option value="">-- Select --</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="InvoiceNumber" class="control-label"></label>
    <input asp-for="InvoiceNumber" class="form-control" />
    <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="IssueDate" class="control-label"></label>
    <input asp-for="IssueDate" class="form-control" type="date" />
    <span asp-validation-for="IssueDate" class="text-danger"></span>
</div>
@* <div class="form-group">
    <label class="control-label">Total Amount (auto-calculated)</label>
    <input class="form-control" value="@(Model.TotalAmount.ToString("C"))" readonly />
</div> *@
<div class="form-group">
    <label asp-for="IdUser" class="control-label"></label>
    <select asp-for="IdUser" class="form-control" asp-items="ViewBag.IdUser">
        <option value="">-- Select --</option>
    </select>
</div>
