@model Hockeyshop.Data.Data.Marketing.DiscountType

<div class="form-group">
    <label asp-for="DiscountTypeName" class="control-label"></label>
    <input asp-for="DiscountTypeName" class="form-control" />
    <span asp-validation-for="DiscountTypeName" class="text-danger"></span>
</div>