@model Hockeyshop.Data.Data.Marketing.DiscountType

@if (ViewData["FormAction"]?.ToString() == "Edit")
{
    <input type="hidden" asp-for="IdDiscountType" />
}

<div class="form-group">
    <label asp-for="DiscountTypeName" class="control-label"></label>
    <input asp-for="DiscountTypeName" class="form-control" />
    <span asp-validation-for="DiscountTypeName" class="text-danger"></span>
</div>