@model Hockeyshop.Data.Data.Core.UserRole

<div class="form-group">
    <label asp-for="Role" class="control-label"></label>
    <input asp-for="Role" class="form-control" />
    <span asp-validation-for="Role" class="text-danger"></span>
</div>