@{
    ViewData["Title"] = "Cart";
}

<br>
<br>
<br>
<br>
<hr />
<h1>Cart placeholder</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.
</p>
<hr />