@model Hockeyshop.Data.Data.Products.ProductImage

@if (Model != null)
{
    if (ViewData["FormAction"]?.ToString() == "Edit")
    {
        <input type="hidden" asp-for="IdProductImage" />
    }

    <input type="hidden" asp-for="IdProduct" />

    <div class="form-group">
        <label for="image">Choose image file</label>
        <input type="file" name="image" id="image" class="form-control" />

        @if (ViewData.ModelState["image"]?.Errors.Count > 0)
        {
            <span class="text-danger">@ViewData.ModelState["image"].Errors.First().ErrorMessage</span>
        }
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <div class="mt-2">
                <img src="@Model.ImageUrl" alt="Current photo" style="max-width:200px;max-height:200px;" />
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-danger">Error: Model is null!</div>
}
