@model Hockeyshop.Data.Data.Products.ProductImage

@{
    ViewData["IdField"] = "IdProductImage";
    ViewData["Title"] = "Product Image Details";
    ViewData["HideDeleteButton"] = true;
    ViewData["HideEditButton"] = true;
    ViewData["PartialDetails"] = "~/Views/Products/ProductImages/_ProductImageDetails.cshtml";
    Layout = "_Layout";
}

@await Html.PartialAsync("_CrudDetailsContainer", Model)





@* @model Hockeyshop.Data.Data.Products.ProductImage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductImage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProductImage">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@