@model IEnumerable<Hockeyshop.Data.Data.Payments.Payment>

@{
    ViewData["Title"] = "Payment";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "Order",
        "User Firstname",
        "User Lastname",
        "Payment Date",
        "Payment Method",
        "Amount",
        "Payment Status"
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "Payment",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var payment = (Hockeyshop.Data.Data.Payments.Payment)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => payment.IdPayment,
                        "Order" => payment.Order?.IdOrder,
                        "User Firstname" => payment.Order?.User?.FirstName,
                        "User Lastname" => payment.Order?.User?.LastName,
                        "Payment Date" => payment.PaymentDate.ToShortDateString(),
                        "Payment Method" => payment.PaymentMethod?.Name,
                        "Amount" => payment.Amount,
                        "Payment Status" => payment.PaymentStatus?.Name,
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var payment = (Hockeyshop.Data.Data.Payments.Payment)row;
                    return $@"
                        <a href=""/Payments/Edit/{payment.IdPayment}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/Payments/Details/{payment.IdPayment}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/Payments/Delete/{payment.IdPayment}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)