@{
    ViewData["Title"] = "Hockey news";
}

<br>
<br>
<br>
<br>
<hr />
<h1>Hockey news</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.
</p>
<hr />
