@model IEnumerable<Hockeyshop.Data.Data.Products.ProductCategory>

@{
    ViewData["Title"] = "ProductCategory";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "Name",
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "Product Category",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var productCategory = (Hockeyshop.Data.Data.Products.ProductCategory)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => productCategory.IdProductCategory,
                        "Name" => productCategory.Name,
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var productCategory = (Hockeyshop.Data.Data.Products.ProductCategory)row;
                    return $@"
                        <a href=""/ProductCategories/Edit/{productCategory.IdProductCategory}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/ProductCategories/Details/{productCategory.IdProductCategory}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/ProductCategories/Delete/{productCategory.IdProductCategory}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)