@model IEnumerable<Hockeyshop.Data.Data.Cart.UserCart>

@{
    ViewData["Title"] = "UserCart";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "User Firstname",
        "User Lastname",
        "Created At"
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "User Cart",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var userCart = (Hockeyshop.Data.Data.Cart.UserCart)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => userCart.IdUserCart,
                        "User Firstname" => userCart.User?.FirstName,
                        "User Lastname" => userCart.User?.LastName,
                        "Created At" => userCart.CreatedAt.ToShortDateString(),
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var userCart = (Hockeyshop.Data.Data.Cart.UserCart)row;
                    return $@"
                        <a href=""/UserCarts/Edit/{userCart.IdUserCart}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/UserCarts/Details/{userCart.IdUserCart}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/UserCarts/Delete/{userCart.IdUserCart}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)