@model Hockeyshop.Data.Data.Products.Product

@if (ViewData["FormAction"]?.ToString() == "Edit")
{
    <input type="hidden" asp-for="IdProduct" />
}

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="IdProductCategory" class="control-label"></label>
    <select asp-for="IdProductCategory" class="form-control" asp-items="ViewBag.IdProductCategory">
        <option value="">-- Select --</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="IdSupplier" class="control-label"></label>
    <select asp-for="IdSupplier" class="form-control" asp-items="ViewBag.IdSupplier">
        <option value="">-- Select --</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>