@model IEnumerable<Hockeyshop.Data.Data.Inventory.Stock>

@{
    ViewData["Title"] = "Stock";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "Product",
        "Product Category",
        "Quantity",
        "Unit Price",
        "Total Value",
        "Updated At"
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "Stock",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var stock = (Hockeyshop.Data.Data.Inventory.Stock)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => stock.IdStock,
                        "Product" => stock.Product?.Name,
                        "Product Category" => stock.Product?.ProductCategory?.Name,
                        "Quantity" => stock.Quantity,
                        "Unit Price" => stock.Product?.Price.ToString("C"),
                        "Total Value" => ((stock.Quantity) * (stock.Product?.Price?? 0m)).ToString("C"),
                        "Updated At" => stock.UpdatedAt.ToShortDateString(),
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var stock = (Hockeyshop.Data.Data.Inventory.Stock)row;
                    return $@"
                        <a href=""/Stocks/Edit/{stock.IdStock}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/Stocks/Details/{stock.IdStock}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/Stocks/Delete/{stock.IdStock}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)