@model IEnumerable<Hockeyshop.Data.Data.Orders.Order>

@{
    ViewData["Title"] = "Order";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "User Firstname",
        "User Lastname",
        "Order Date",
        "Total Amount",
        "Order Status",
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "Order",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var order = (Hockeyshop.Data.Data.Orders.Order)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => order.IdOrder,
                        "User Firstname" => order.User?.FirstName,
                        "User Lastname" => order.User?.LastName,
                        "Total Amount" => order.TotalAmount.ToString("C"), //formatowanie do waluty
                        "Order Date" => order.OrderDate.ToShortDateString(),
                        "Order Status" => order.OrderStatus?.Name,
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var order = (Hockeyshop.Data.Data.Orders.Order)row;
                    return $@"
                        <a href=""/Orders/Edit/{order.IdOrder}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/Orders/Details/{order.IdOrder}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/Orders/Delete/{order.IdOrder}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)