@model Hockeyshop.Data.Data.CMS.FooterSection

<dt class="col-sm-4">Footer Text</dt>
<dd class="col-sm-8">
    <span class="line-breaks">@Model.FooterText</span>
</dd>
<dt class="col-sm-4">Footer Logo Text</dt>
<dd class="col-sm-8">@Model.FooterLogoText</dd>
<dt class="col-sm-4">Active</dt>
<dd class="col-sm-8">@Model.IsActive</dd>
