<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Besthockey</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hockeyshop.PortalWWW.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <header>
        <div class="container mt-5 pt-3">
            @await Html.PartialAsync("Links")
        </div>
    </header>

    <div class="d-flex mt-5 pt-3">
            @{
                var categories = ViewBag.ProductCategories as IEnumerable<Hockeyshop.Data.Data.Products.ProductCategory>;
            }
            @await Html.PartialAsync("_ProductCategoriesSidebar", categories)

            <div class="flex-grow-1 p-3">
                <div class="content">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
    </div>

    <footer class="page-footer py-3">
        <div class="container">
            <div class="row w-100">
                <div class="col-12 col-md-4">
                    <p>Copyright &copy; 2025 Kris</p>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Privacy policy</a></li>
                        <li class="list-inline-item"><a href="#">Returns</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
