@model Hockeyshop.Data.Data.Payments.PaymentStatus

@if (ViewData["FormAction"]?.ToString() == "Edit")
{
    <input type="hidden" asp-for="IdPaymentStatus" />
}

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>