/*global styles*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.body {
  margin: 0px;
}

/*styles for intranet*/
.admin-navbar {
    background-color: #2c3e50;
    border-bottom: 3px solid #3498db;
}

.quick-access-card {
    transition: transform 0.2s;
    min-height: 150px;
}

.quick-access-card:hover {
    transform: translateY(-5px);
}


/*cards*/
.card {
    width: 100%;
    height: 300px;
}

.card img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card a {
    color: black;
    text-decoration: none;
}

.card a:hover {
    color: black;
    text-decoration: none;
}

.card a:visited {
    color: black;
}

/*buttons*/
button,
a.btn {
    margin: 4px;
}

/*navbar*/

/*carousel*/
.carousel-inner, .carousel-item {
    height: 100vh;
}

.carousel-inner img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


/*products-section*/
.products-section .card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

/*highlights-section*/
.highlights-section .card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

/*shop-section*/
.shop-section .card {
    width: 100%;
    height: 180px;
}

/*contact-section*/
.contact-section {
    background-color: #44445a;
}

.contact-section .card {
    background-color: #44445a;
    color: #ffffff;
    border: none;
    height: 180px;
}

.social-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-links li {
    padding: 15px;
    font-size: 0;
}

.fab {
    font-size: 20px;
    background-color: #ff5252;
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/*footer*/
.page-footer {
    background-color: #2c3e50;
    color: #ffffff;
}




/* Quick Access Cards Styling */
.quick-access-cards {
    position: relative;
    height: calc(100vh - 70px);
    width: 320px; /* Fixed width for vertical cards */
    overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.quick-access-cards .card {
    border: none;
}

.quick-access-cards .card:hover {
    transform: scale(1.02); /* Slight zoom effect on hover */
    transition: transform 0.2s ease-in-out;
}

/* Adjust content margin for responsiveness */
@media (max-width: 768px) {
    .quick-access-cards {
        
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 0;
    }
}

/* Main Content */
.container {
    margin-left: 320px; /* Matches cards width + spacing */
}