@model Hockeyshop.Data.Data.CMS.ContactSection

@if (ViewData["FormAction"]?.ToString() == "Edit")
{
    <input type="hidden" asp-for="Id" />
}

<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Phone" class="control-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="form-check">
        <input asp-for="IsActive" class="form-check-input" type="checkbox" />
        <label asp-for="IsActive" class="form-check-label">Active</label>
    </div>
    <span asp-validation-for="IsActive" class="text-danger"></span>
    <small class="form-text text-muted">Only one contact section can be active at a time.</small>
</div>
