@model IEnumerable<Hockeyshop.Data.Data.Marketing.ProductPromotion>

@{
    ViewData["Title"] = "ProductPromotion";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "Product",
        "Product Category",
        "Promotion"
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "Product Promotion",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var productPromotion = (Hockeyshop.Data.Data.Marketing.ProductPromotion)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => productPromotion.IdProduct,
                        "Product" => productPromotion.Product?.Name,
                        "Product Category" => productPromotion.Product?.ProductCategory?.Name,
                        "Promotion" => productPromotion.Promotion?.Name,
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var productPromotion = (Hockeyshop.Data.Data.Marketing.ProductPromotion)row;
                    return $@"
                        <a href=""/ProductPromotions/Edit/{productPromotion.IdProduct}?idPromotion={productPromotion.IdPromotion}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/ProductPromotions/Details/@productPromotion.IdProduct/@productPromotion.IdPromotion"" class=""btn btn-sm btn-outline-info"">Details</a>

                        <a href=""/ProductPromotions/Delete/{productPromotion.IdProduct}?idPromotion={productPromotion.IdPromotion}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }

                // ActionLinks = row =>
                // {
                //     var productPromotion = (Hockeyshop.Data.Data.Marketing.ProductPromotion)row;
                //     return $@"
                //         <a href=""/ProductPromotions/Edit/{productPromotion.IdProduct}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                //         <a href=""/ProductPromotions/Details/{productPromotion.IdProduct}"" class=""btn btn-sm btn-outline-info"">Details</a>
                //         <a href=""/ProductPromotions/Delete/{productPromotion.IdProduct}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                //     ";
                // }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)